div.boot ul {
    display: inline;
    padding-left: 0px;
}

div.boot ul > li {
    list-style: none;
}

div.boot li > span[data-status="ok"] {
    color: var(--color-string);
}

div.boot li > span[data-status="error"] {
    color: var(--color-variable);
}
